html{
margin:0;
padding:0;
overflow-x: hidden;
}
body{
background: white;
margin: 0;
padding: 0;
height: 900vh;
}
/*
.landing-page{
    background: url('landing.svg');
    background-size: cover;
    background-position: center;
}
*/
header{
display: flex;
justify-content: space-between;
position:relative;
top: 0px;
margin: 0px;
width:80%;
padding: 5%;
padding-left: 24%;
z-index: 3;
}
header div{
display: flex;
font-size: 1.2em;
padding: 15px;
margin: 0px;
}
header div div{
padding: 5px 15px;
margin: 0 15px;
}
header div div:hover{
color: teal;
background: black;
}
.button{
background-color: none;
border: 2px solid black;
}

#centre{
font-size: 1.5em;
}
#left{
display:flex;
justify-content: flex-start;
width: 450px;
border-color:red;
}
#right{
display:flex;
justify-content: flex-start;
width: 450px;
}

.section_2{
display: flex;
height: 100vh;
justify-content: center;
margin:0;
padding:0;
}
.section_2 div{
display: flex;
position: absolute;
top: 0px;
height: 100vh;
overflow: hidden;
}

.section_2 div #bground{
align-self: center;
display: inline-block;
position: relative;
top: 0px;
height: 100vh;
width: auto;
}

.section_2 p{
font-size: 10em;
padding:0;
margin:0;
align-self: center;
}
.about-extropy h3{
position:absolute;
top:105%;
color:tomato; 
right:26%;
    z-index: 101;
}
.about-extropy p{
position:relative;
margin-top:-6%;
padding-bottom:5%;
width:60%;
left:20%;
    z-index: 4;
font-size:30px;
}
.section_1{
display: flex;
width: 800vw;
}
.section_1 main{
width: 100vw;
height: 100vh;
}
#about-layer-svg{
    z-index:-10;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top:0;
}
#circle{
    z-index: 2;
}
.section_1 .ev-card{
position: relative;
width: 100vw;

}
.section_1 .ev-card{
display: flex;
height: 100vh;
justify-content: center;
background: transparent;
margin:0;
padding:0;
border-left: 10px dashed black;
}

.ev-card .backdrp{
z-index: 0;
opacity: 0.8;
position: absolute;
background: url('backdrop.svg');
background-size: cover;
width: 75%;
height: 80%;
}

.section_1 .ev-card div{
font-size: 10em;
padding:0;
margin:0;
align-self: center;
}
.section_1_wrap{
overflow-x: hidden;
-webkit-perspective: 1000;
            perspective: 1000;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.float-cont{
position: fixed;
top: 0;
left:0;
z-index: 0;
width: 100vw;
height: 100vh;
}
.float-cont .shape-1{
height: 100px;
width: 100px;
background: teal;
position: absolute;
top: 50%;
left: 8%;
transition: all 0.1s;
}
svg#Layer_1{
padding: 0px;
margin: 0px;
z-index: -1;
position: absolute;
top: 0;
}
#anim-path{
display:none;
}
.ev_card_heading{
    background-color: transparent;
    width:25%;
    height: 15%;
    position:relative;
    top:-33%;
    left:20%;
    border-bottom-color:whitesmoke;
    border-bottom-style:groove;
}
.ev_card_heading p{
    position: inherit;
    font-size:20%;
    align-content: flex-end;
    position: relative;
    left:30%;
    font-style: oblique;
    top:2%;
}
.ev_card_about{
    color: #bbb;
    position: relative;
    background-color:transparent;
    height:50%;
    width:40%;
    left:-15%;
    top:1%;
}
.ev_card_about p{
    font-size:15px;
    color:black;

}
.ev_card_img{
    position: relative;
    left:5%;
    width:40%;
    height:60%;
    background-color: tomato;
}
img{
  width: 100%;
  height: 100%;
}

.section_3{
display: flex;
height: 100vh;
background: white;
}

.card-wrap{
display: flex;
justify-content: space-around;
align-self: center;
background: blue;
height: 60%;
width: 100%;
padding: 0;
}
.section_3 .card{
display: inline-block;
width: 30%;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
